In [1]:
# pandas数据预处理

import pandas as pd
import numpy as np

In [3]:
data = np.arange(20).reshape(4, 5).astype(np.float64)
data[1, 1] = np.NaN
# print(data)
df = pd.DataFrame(data, columns=['1', '2', '3', '4', '5'])
print(df)
print(df.dropna(axis=0))  # 去掉NaN所在的行
# print(df.dropna(axis=1))  # 去掉NaN所在的列
# print(df.replace(np.NaN, 0))  # 值替换
# isnull     返回一个含有布尔的对象，这些布尔表示哪些是缺失
# notnull    isnull 的否定式
print(df[df.notnull()])  # 这里并没有去掉有空值的行，这种方法对Series使用，可能对DataFrame不适用

      1     2     3     4     5
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
      1     2     3     4     5
0   0.0   1.0   2.0   3.0   4.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
      1     2     3     4     5
0   0.0   1.0   2.0   3.0   4.0
1   5.0   NaN   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0

In [4]:
# 填充缺失数据（fillna）
# DataFrame.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)
# value      用于填充缺失的标量或字典对象
# method     插方式。如果函数调用时未指定其他参数的话，默认为“ffill”
# axis       待填充的轴，默认axis=0
# inplace    修改调用者对象而不产生副本
# limit      (对于前向和后向填充)可以连续填充的最大数量
print(df.fillna(0))
# 向前填充（搬运）
print(df.fillna(method='ffill'))  # 默认是axis=0，表示用同列上方的数来填充
# 向后填充（搬运）
print(df.fillna(method='bfill'))  # 默认是axis=0，表示用同列下方的数来填充
# 使用值填充，指定一个数来替代每列的空白值
values = {'1': 1, '2': 2, '3': 3, '4': 4, '5': 5}
print(df.fillna(value=values))
print(df.fillna(value=df.mean()))  # 使用每列的均值来填充空白值

      1     2     3     4     5
0   0.0   1.0   2.0   3.0   4.0
1   5.0   0.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
      1     2     3     4     5
0   0.0   1.0   2.0   3.0   4.0
1   5.0   1.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
      1     2     3     4     5
0   0.0   1.0   2.0   3.0   4.0
1   5.0  11.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
      1     2     3     4     5
0   0.0   1.0   2.0   3.0   4.0
1   5.0   2.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
      1          2     3     4     5
0   0.0   1.000000   2.0   3.0   4.0
1   5.0   9.333333   7.0   8.0   9.0
2  10.0  11.000000  12.0  13.0  14.0
3  15.0  16.000000  17.0  18.0  19.0

In [7]:
# DataFrame.drop(labels=None,axis=0, index=None, columns=None, inplace=False)
# 在这里默认：axis=0，指删除index，因此删除columns时要指定axis=1；
# inplace=False，默认该删除操作不改变原数据，而是返回一个执行删除操作后的新dataframe；
# inplace=True，则会直接在原数据上进行删除操作，删除后就回不来了。
df = pd.DataFrame(np.arange(12).reshape(3, 4), columns=['A', 'B', 'C', 'D'])
print(df)
# 根据columns删除列,下面两种方法等价
data1 = df.drop(['B', 'C'], axis=1)
print(data1)
data2 = df.drop(columns=['B', 'C'])
print(data2)
# 根据index删除行
data3 = df.drop([0, 1])
print(data3)

   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11
   A   D
0  0   3
1  4   7
2  8  11
   A   D
0  0   3
1  4   7
2  8  11
   A  B   C   D
2  8  9  10  11

In [8]:
# 去掉重复值
# DataFrame.drop_duplicates(subset=None, keep='first', inplace=False)
# subset : 用来指定特定的列，默认所有列
# keep : {‘first’, ‘last’, False}, default ‘first’ 删除重复项并保留第一次出现的项
# inplace : boolean, default False 是直接在原来数据上修改还是保留一个副本
data1 = pd.DataFrame(
    {"name": ['a'] * 3 + ['b'] * 4 + ['c'] * 2, "age": [1, 1, 2, 3, 3, 4, 5, 5, 5]})
print(data1)
print(data1.drop_duplicates())

   age name
0    1    a
1    1    a
2    2    a
3    3    b
4    3    b
5    4    b
6    5    b
7    5    c
8    5    c
   age name
0    1    a
2    2    a
3    3    b
5    4    b
6    5    b
7    5    c

In [9]:
# get_dummies函数主要用于将类别型的变量转化成哑变量(one-hot vector)
data2 = pd.DataFrame({"name": ['a', 'b', 'c', 'd', 'e'], "city": [
                     'Beijing', 'Shanghai', 'Shenzhen', 'Guangzhou', 'Hangzhou']})
print(data2)
data3_dummies = pd.get_dummies(data2["city"])
print(data3_dummies)
print(data2[['name']].join(data3_dummies))

        city name
0    Beijing    a
1   Shanghai    b
2   Shenzhen    c
3  Guangzhou    d
4   Hangzhou    e
   Beijing  Guangzhou  Hangzhou  Shanghai  Shenzhen
0        1          0         0         0         0
1        0          0         0         1         0
2        0          0         0         0         1
3        0          1         0         0         0
4        0          0         1         0         0
  name  Beijing  Guangzhou  Hangzhou  Shanghai  Shenzhen
0    a        1          0         0         0         0
1    b        0          0         0         1         0
2    c        0          0         0         0         1
3    d        0          1         0         0         0
4    e        0          0         1         0         0

In [10]:
data = np.arange(20).reshape(4, 5).astype(np.float64)
date = pd.date_range('20130101', periods=4)
df1 = pd.DataFrame(data, index=date, columns=['a', 'b', 'c', 'd', 'e'])
print(df1)
print(df1.describe())      # 对每列数据进行初步的统计
print(df1.sort_values(by=['a'], axis=0, ascending=True))  # 按照哪几列排序

print(df1[0:2])  # 前两行数据
print(df1.iloc[:, :].values)  # 通过位置访问数据
print(df1.loc[df1.index[0]])  # 通过index来访问

               a     b     c     d     e
2013-01-01   0.0   1.0   2.0   3.0   4.0
2013-01-02   5.0   6.0   7.0   8.0   9.0
2013-01-03  10.0  11.0  12.0  13.0  14.0
2013-01-04  15.0  16.0  17.0  18.0  19.0
               a          b          c          d          e
count   4.000000   4.000000   4.000000   4.000000   4.000000
mean    7.500000   8.500000   9.500000  10.500000  11.500000
std     6.454972   6.454972   6.454972   6.454972   6.454972
min     0.000000   1.000000   2.000000   3.000000   4.000000
25%     3.750000   4.750000   5.750000   6.750000   7.750000
50%     7.500000   8.500000   9.500000  10.500000  11.500000
75%    11.250000  12.250000  13.250000  14.250000  15.250000
max    15.000000  16.000000  17.000000  18.000000  19.000000
               a     b     c     d     e
2013-01-01   0.0   1.0   2.0   3.0   4.0
2013-01-02   5.0   6.0   7.0   8.0   9.0
2013-01-03  10.0  11.0  12.0  13.0  14.0
2013-01-04  15.0  16.0  17.0  18.0  19.0
              a    b    c    d    e
2013-01-01  0.0  1.0  2.0  3.0  4.0
2013-01-02  5.0  6.0  7.0  8.0  9.0
[[  0.   1.   2.   3.   4.]
 [  5.   6.   7.   8.   9.]
 [ 10.  11.  12.  13.  14.]
 [ 15.  16.  17.  18.  19.]]
a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
Name: 2013-01-01 00:00:00, dtype: float64

In [13]:
date1 = pd.date_range('2017-06-01 09:30:00', periods=10, freq='3S')  # 时间间隔为3秒
# date1 = pd.date_range('2017-6-27',periods = 7,freq = 'M')  #时间间隔为1个月
# freq='M'间隔为一个月；freq='H'间隔为一小时；freq='D/d'间隔为一天；freq='T/min'间隔为一分钟；
print(date1)
# 重采样
# 主要函数：DataFrame.resample(rule, how=None, axis=0, fill_method=None, closed=None, label=None,
#                                 convention='start',kind=None, loffset=None, limit=None, base=0)
# rule : string  偏移量表示目标字符串或对象转换
# axis=0	默认是纵轴，横轴设置axis=1
# closed=None 	默认‘left’
# label=None	默认为'left'，在降采样时，如何设置聚合值的标签，例如，9：30-9：35会被标记成9：30还是9：35,默认9：30

index = pd.date_range('1/1/2000', periods=9, freq='T')  # 采样频率为1分钟
series = pd.Series(range(9), index=index)
print(series)
print(series.resample('3T').sum())  # 将采样频率变为3分钟
print(series.resample('3T', label='right').sum())
print(series.resample('3T', label='right', closed='right').sum())

DatetimeIndex(['2017-06-01 09:30:00', '2017-06-01 09:30:03',
               '2017-06-01 09:30:06', '2017-06-01 09:30:09',
               '2017-06-01 09:30:12', '2017-06-01 09:30:15',
               '2017-06-01 09:30:18', '2017-06-01 09:30:21',
               '2017-06-01 09:30:24', '2017-06-01 09:30:27'],
              dtype='datetime64[ns]', freq='3S')
2000-01-01 00:00:00    0
2000-01-01 00:01:00    1
2000-01-01 00:02:00    2
2000-01-01 00:03:00    3
2000-01-01 00:04:00    4
2000-01-01 00:05:00    5
2000-01-01 00:06:00    6
2000-01-01 00:07:00    7
2000-01-01 00:08:00    8
Freq: T, dtype: int64
2000-01-01 00:00:00     3
2000-01-01 00:03:00    12
2000-01-01 00:06:00    21
Freq: 3T, dtype: int64
2000-01-01 00:03:00     3
2000-01-01 00:06:00    12
2000-01-01 00:09:00    21
Freq: 3T, dtype: int64
2000-01-01 00:00:00     0
2000-01-01 00:03:00     6
2000-01-01 00:06:00    15
2000-01-01 00:09:00    15
Freq: 3T, dtype: int64

In [14]:
print(series.resample('30S').asfreq()[0:5])  # 将采样频率变为30秒
print(series.resample('30S').ffill()[0:5])  # 空白值向前填充
print(series.resample('30S').bfill()[0:5])  # 空白值向后填充
def custom_resampler(array_like):
    return np.sum(array_like) + 5


print(series.resample('3T').apply(custom_resampler))

2000-01-01 00:00:00    0.0
2000-01-01 00:00:30    NaN
2000-01-01 00:01:00    1.0
2000-01-01 00:01:30    NaN
2000-01-01 00:02:00    2.0
Freq: 30S, dtype: float64
2000-01-01 00:00:00    0
2000-01-01 00:00:30    0
2000-01-01 00:01:00    1
2000-01-01 00:01:30    1
2000-01-01 00:02:00    2
Freq: 30S, dtype: int64
2000-01-01 00:00:00    0
2000-01-01 00:00:30    1
2000-01-01 00:01:00    1
2000-01-01 00:01:30    2
2000-01-01 00:02:00    2
Freq: 30S, dtype: int64
2000-01-01 00:00:00     8
2000-01-01 00:03:00    17
2000-01-01 00:06:00    26
Freq: 3T, dtype: int64

In [17]:
# 将时间中的时刻去掉，只保留日期
date = pd.date_range('20180101 09:30:00', periods=5, freq='30S')
df = pd.DataFrame({"time": date, "age": [10, 11, 12, 13, 14]})
print(df)
df['time'] = df['time'].dt.normalize()
#df['time'] = pd.to_datetime(df['time'])
print(df)

   age                time
0   10 2018-01-01 09:30:00
1   11 2018-01-01 09:30:30
2   12 2018-01-01 09:31:00
3   13 2018-01-01 09:31:30
4   14 2018-01-01 09:32:00
   age       time
0   10 2018-01-01
1   11 2018-01-01
2   12 2018-01-01
3   13 2018-01-01
4   14 2018-01-01